body{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(206, 211, 211);
    margin: 0;
    align-items: center;
}
.bar{
    display: flex;
    position: fixed;
    width: 100%;
    height: 3em;
    align-items:flex-end;
    background-color: rgb(0, 0, 0, 0.1);
    justify-content: flex-end;
    
}
.imagesearch{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1em;
    margin-left: 0.5em;
    
}
.advancesearch{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1em;
    margin-left: 0.5em;
    margin-top: 0
    ;
}
.image{
    display:contents;
    width: 5em;
}
.picsearch {
    /* height: 5em; */
    /* width: 5em; */
    margin-bottom: 0;
    margin-top: 10rem;
}
.textpicsearch{
    margin: 0;
    margin-bottom: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    text-wrap: nowrap;
}
.gsearch{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.searchfild{
    display: block;
    background-color: white;
    min-height: 2em;
    min-width: 20em;
    border: solid white 0.4em;
    margin: 1em;
    border-radius: 20px;
}
.searchbutton{
    display: block;
    color: white;
    max-width: 8em;
    background-color: #008cff;
    font-size: 0.8em;
    border: solid #008cff 0.4em;
    border-radius: 20px;
}